.checklist{
    opacity: 0;
    --item-size: 2em;
}
.checklist.show-checklist{
    opacity: 1;
}
.checklist ul{
  list-style-type: none;
  margin-top: 20px;
}
.checklist ul li{
  margin-bottom: 10px;
  line-height: var(--item-size);
  font-size: var(--item-size);
}
