@import 'css/checkbox.css';
@import 'css/success-icon.css';
body {
    font-family: 'Share Tech Mono', monospace, Verdana, sans-serif;
    font-size: 14px;
}
.badge.hidden {
   opacity: 0;
}
#badges{
    margin-left: 10px;
}
badge-element{
    opacity: 0;
}
badge-element.visible{
    opacity: 1;
    fill: white;
}
#divId{
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100px;
}
#free-textarea{
    position: absolute;
    background: transparent;
    top: 0;
    z-index: 2;
    height: 100px;
}
.input-area{
    height: 100px;
}
.icon-text{
    width: 0.75em;
    height: 0.75em;
}
.highlight--street{
    background-color: lightgreen;
}
.highlight--issue{
    background-color: yellow;
}